---
import Layout from "../layouts/Page.astro";
import WorkExp from "../components/WorkExp.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg"
>
	<WorkExp 
		title="Senior AI Programmer", 
		company="Build a Rocket Boy", 
		startDate={"2022-06"}, 
		endDate={}>
		<ul>
			<li>http://www.buildarocketboy.com</li>
		</ul>
	</WorkExp>
	<WorkExp 
		title="Senior Gameplay Programmer", 
		company="Build a Rocket Boy", 
		startDate={"2020-06"}, 
		endDate={"2022-06"}>
		<ul>
			<li>http://www.buildarocketboy.com</li>
		</ul>
	</WorkExp>
	<WorkExp 
		title="Gameplay Programmer", 
		company="Build a Rocket Boy", 
		startDate={"2017-11"}, 
		endDate={"2020-06"}>
		<ul>
			<li>http://www.buildarocketboy.com</li>
		</ul>
	</WorkExp>
	<WorkExp 
		title="Game Developer", 
		company="Blackorange Inc", 
		startDate={"2014-08"}, 
		endDate={"2017-10"}>
		<ul>
			<li>Coordination and planning on video game development for a small dev team. Worked with many clients to achieve a desired vision </li>
			<li>Design and development of bespoke experiences and games using Unity/Unreal Engine for PC and VR platforms.</li>
			<li>Mobile App development for iOS using Swift/ObjectiveC.</li>
		</ul>
	</WorkExp>
	<WorkExp 
		title="Indie Game Developer", 
		company="SkyBelow Studio", 
		startDate={"2014-01"}, 
		endDate={"2017-01"}>
		<ul>
			<li>Designed, Programmed and released games for PC, iOS and Android, using Unity/C#.</li>
			<li>More info: <a href="https://mikea15.itch.io/" target="_blank">https://mikea15.itch.io/</a></li>
		</ul>
	</WorkExp>
	<WorkExp 
		title="Chief Technology Officer", 
		company="Follow Inspiration", 
		startDate={"2013-05"}, 
		endDate={"2014-05"}>
		<ul>
			<li>Built and lead a small team software engineers.</li>
			<li>Designed architecture for Self Driving shopping cart, including client app, control libraries, backend, tooling, self updating software and software/hardware communication layers. </li>
			<li>Research and development with Microsoft Kinect and image/gesture recognition software.</li>
			<li>Game Design and Programming with C#/XNA, Microsoft Kinect and Unity.</li>
		</ul>
	</WorkExp>
	<WorkExp 
		title="Software Engineer", 
		company="Follow Inspiration", 
		startDate={"2012-01"}, 
		endDate={"2013-05"}>
		<ul>
			<li>Programming WPF Apps, Control Libraries, Tools and Natural Interfaces with Microsoft Kinect, .Net and C#.</li>
			<li>Game Design and Programming with C#/XNA, Microsoft Kinect and Unity.</li>
		</ul>
	</WorkExp>

	<div class="prose">
		<div class="title">
			<h1>Projects</h1>
			<hr />
		</div>
	</div>

	<p>
		Hi! I'm Michael Adaixo, I'm a game programmer. This is a space where I
		write about game development, programming in general, computer graphics,
		and any other topic I deem interesting.
	</p>

	<p>
		I once won awards for making [robot-shopping-carts follow you using a
		Microsoft Kinect and Motorized
		Wheels](https://www.youtube.com/watch?v=dhHXldpknC4). Working on image
		recognition and PID controllers, among other things.
	</p>

	<div class="prose">
		<div class="title">
			<h1>Projects</h1>
			<hr />
		</div>
	</div>

</Layout>
<style>
.prose {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 1em;
	color: rgb(var(--gray-dark));
}
.title {
	margin-bottom: 1em;
	padding: 1em 0;
	text-align: center;
	line-height: 1;
}
.title h1 {
	margin: 0 0 0.5em 0;
}
</style>