---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
}

const { href, external, underline = true, ...rest } = Astro.props;
---

<a 
  href={href} 
  target={ external ? "_blank" : "_self" } 
  class={cn("inline-block links transition-colors snappy-transition", 
    underline && "underline underline-offset-4 hover:underline-offset-8 hover:decoration-4 transition-all snappy-transition")}
  {...rest}>
  <slot/>
</a>
