---
interface Props {
    title: String;
    company: String;
    startDate: Date;
    endDate: Date;
}
const { title, company, startDate, endDate }= Astro.props;
---

<div>
    <h3>{title}</h3>
    <p style="float: left;"><em>{company}</em></p>
    <p style="float: right;"><em>Start: {startDate} / End: { endDate ? endDate : "Present" }</em></p>
    <div style="clear: both;"></div>
    <div>
        <slot />
    </div>
</div>
<hr>